nav.navbar.navbar-dark.bg-dark
  a.navbar-brand(ui-sref="home")
    img.d-inline-block.lign-top.mr-3(
      src="https://firebasestorage.googleapis.com/v0/b/koe-todo-list.appspot.com/o/assets%2Flogo-todo-list.png?alt=media&token=68f24095-9add-4245-a2ba-0c44d3624831"
      width="30"
      height="30"
      alt=""
    )
    | KOE - TODO List
