.board.h-100.bg-light
  .container-fluid
    .pt-3.font-weight-bold
      | Tickets
      | {{ $ctrl.felix }}
    .BOTON-CREAR
      button.btn.btn-primary(ng-click="$ctrl.openCreateTicketModal()")
        | Crear
    .card-deck.mt-3
      .card(ng-repeat="ticket in $ctrl.tickets")
        .card-body
          h5.card-title
            | {{ticket.title}}
          p.card-text
            | {{ticket.description}}
          //- a.btn.btn-primary.stretched-link(ui-sref="board({ boardId: ticket.id})")
          //-   | Ir al tablero
