.home.h-100.bg-light
  .container-fluid
    h4.pt-3.font-weight-bold
      | Tableros
    nav.mt-3(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item.active(aria-current='page')
          | Tableros

    .card-deck.mt-3
      .card(
        ng-repeat="board in $ctrl.boards"
        ui-sref="board({ boardId: board.id})"
        ng-if="board.id === 1"
      )
        .card-body
          h5.card-title
            | {{ board.name }}
          p.card-text
            small.text-muted
              | {{ board.user }}
          a.btn.btn-primary.stretched-link(ui-sref="board({ boardId: board.id})")
            | Ir al tablero
