.home.h-100.bg-light
  .container-fluid
    .pt-3.font-weight-bold
      | Tableros
    .card-deck.mt-3
      .card(
        ng-repeat="item in $ctrl.board"
        ui-sref="board({ boardId: item.id})"
        ng-if="item.id === 1"
      )
        .card-body
          h5.card-title
            | {{ item.name }}
          p.card-text
            small.text-muted
              | {{ item.user }}
          a.btn.btn-primary.stretched-link(ui-sref="board({ boardId: item.id})")
            | Ir al tablero
