.app-spinner-border {
  position: fixed;
  z-index: 1070;
  top: -100px;
  transition: all 0.2s ease-out;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);

  &.app-spinner-border--active {
    top: 10px;
  }
}
